.blog1 {
  .hero {
    background-image: url("../img/Blog1/blogHero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    width: 100%;
    height: 17vh;
    @media (min-width: 576px) {
      & {
        height: 20vh;
      }
    }
    @media (min-width: 768px) {
      & {
        height: 20vh;
      }
    }
    @media (min-width: 1200px) {
      & {
        height: 30vh;
      }
    }
  }
  .blogRedes {
    display: none;
    z-index: 0;
    @media (min-width: 768px) {
      & {
        @include flexColumn;
        position: fixed;
        gap: 1rem;
        right: 2rem;
        top: 49vh;
        width: 2rem;
      }
      a .youtube {
        height: 32px !important;
        width: 32px !important;
      }
    }
    @media (min-width: 768px) and (min-height: 768px) {
      & {
        right: 2rem;
        top: 60vh;
        width: 2rem;
      }
    }
    @media (min-width: 992px) {
      & {
        right: 5rem;
        top: 57vh;
        width: 2rem;
      }
    }
    @media (min-width: 992px) and (min-height: 768px) {
      & {
        right: 5rem;
        top: 62vh;
        width: 2rem;
      }
    }
    @media (min-width: 992px) and (min-height: 1200px) {
      & {
        right: 5rem;
        top: 42vh;
        width: 2rem;
      }
    }
    @media (min-width: 1200px) and (min-height: 768px) {
      & {
        right: 10rem;
        top: 70vh;
        width: 2rem;
      }
    }
    @media (min-width: 1200px) and (min-height: 992px) {
      & {
        right: 10rem;
        top: 75vh;
        width: 2rem;
      }
    }
    @media (min-width: 1200px) and (min-height: 1200px) {
      & {
        right: 10rem;
        top: 70vh;
        width: 2rem;
      }
    }
  }
  .progressContainer {
    position: sticky;
    z-index: 100;
    top: 80px;
    position: sticky;
    z-index: 100;
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  .progressBar {
    height: 8px;
    background: $naranjaLinks;
    width: 0%;
  }
  @include padding-X(0rem, 6rem);
  .blogTitulo {
    @include padding-X(4rem, 4rem);
  }
  .blogContenido {
    @include padding-Y(1rem, 1rem);
    @include flexColumn;
    align-items: flex-start;
    @media (min-width: 768px) {
      & {
        @include padding-Y(5rem, 5rem);
      }
    }
    @media (min-width: 992px) {
      & {
        @include padding-Y(10rem, 10rem);
      }
    }
    @media (min-width: 1200px) {
      & {
        @include padding-Y(14rem, 14rem);
      }
    }
    p {
      letter-spacing: 0px;
    }
    .fotoBlog {
      @include padding-X(3rem, 3rem);
      align-self: center;
    }
    h5 {
      @include padding-X(3rem, 1rem);
      @media (min-widh: 768px) {
        & {
          @include padding-X(3rem, 1rem);
        }
      }
    }
  }
}
