.heroContacto {
  @include flexColumn;
  background: transparent url(../img/contacto/hero.png) 0% 0% no-repeat
    padding-box;
  background-size: cover;
  opacity: 0.9;
  align-items: center;
  .contactoTitulo {
    @include padding-X(2em, 0);
    font-size: 2rem;
  }
  .titulo {
    color: $blanco;
  }
  .contactoMail {
    color: $blanco;
    text-align: center;
  }
  img {
    @include sizes(10%, auto);
  }
  .contactoImagen {
    width: 5rem;
  }
}
.cajaContactoRedes {
  @include flexJusCen;
  .contactoRedes {
    @include flexJusCen;
    p {
      font-family: $sans;
      font-weight: $sans-bold;
      font-size: $texto;
    }
    .instagram {
      @include flexColumn;
      align-items: center;
      flex-basis: 32% !important;
    }
    .youtube {
      @extend .instagram;
    }
    .linkedin {
      @extend .instagram;
    }
  }
}
.preguntas {
  @include padding-X(6rem, 8rem);
  justify-content: center;
  .accordion {
    .accordion-button:not(.collapsed) {
      color: $naranjaLinks;
      background-color: $acordion;
      border: none;
    }
    .accordion-button:focus {
      box-shadow: none;
    }
    .accordion-button:after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffa443'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    }
  }
  .fondoAcordion {
    background-color: $acordion;
    color: $naranjaLinks;
  }
}
