.informacion {
  @include padding-X(5rem, 5rem);
  background-image: url(../img/fondoCursos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  width: 100%;
  height: auto;
  font-family: $sans;
  color: $blanco;
  .informacionTitulo {
    color: $blanco;
  }
  p {
    @include padding-Y(10rem, 10rem);
    color: $blanco;
  }
}

.informacionBotones {
  @include padding-X(3rem, 0);
}
.boton {
  background-color: $negroTextos;
  color: $blanco;
}
.datos {
  @include padding-X(3rem, 0);
  box-shadow: 6px 10px 10px #00000029;
}
.elemento {
  height: 10%;
  .elementoTitulo {
    font-size: $subtitulo;
  }
  img {
    width: 50px;
    height: auto;
  }
  .elementoTexto {
    @include padding-X(1em, 0);
    font-size: $texto;
    color: $textoGris;
  }
}

.requisitosYdirigido {
  @include padding-X(5rem, 5rem);
}
.requisitos {
  @include padding-Y(5rem, 5rem);
}
.dirigido {
  @extend .requisitos;
}
.docente {
  font-family: $sans;
  .tarjetaDocente {
    background: $negroTextos padding-box;
    height: 30rem;
    width: 30rem;
    color: $blanco;
    border-radius: 10%;
    .fotoProfe {
      height: 200px;
      width: 200px;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: 105%;
        height: auto;
        position: relative;
        margin-top: -20px;
      }
    }
  }
}
