.informacion {
  @include padding-X(2rem, 2rem);
  @include sizes(100%, auto);
  min-height: 30rem;
  display: flex;
  background-image: url(../img/cursos/shapeMobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 768px) {
    & {
      @include padding-X(3rem, 3rem);
      background-position-x: right;
    }
  }
  @media (min-width: 992px) {
    & {
      background-image: url(../img/cursos/shape.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fix;
      background-position-y: center;
      background-position-x: center;
      @include padding-X(2rem, 2rem);
    }
  }
  @media (min-width: 1200px) {
    & {
      @include padding-X(3rem, 2rem);
    }
  }
  .informacionRow {
    @include padding-Y(1rem, 1rem);
    flex-direction: column;
    align-items: flex-end;
    align-self: center;
    @media (min-width: 768px) {
      & {
        @include padding-Y(4rem, 4rem);
      }
    }
    @media (min-width: 992px) {
      & {
        @include padding-Y(4rem, 2rem);
      }
    }
    .informacionRowTexto {
      @include flexColumn;
      align-items: center;
      .informacionTitulo {
        @include padding-X(0, 1rem);
        color: $blanco;
      }
      p {
        margin-bottom: 0.5rem;
        color: $blanco;
        text-align: center;
        @media (min-width: 992px) {
          & {
            align-self: start;
            @include padding-Y(2rem, 4rem);
            text-align: start;
          }
        }
        @media (min-width: 1200px) {
          & {
            @include padding-Y(2rem, 4rem);
          }
        }
        @media (min-width: 1400px) {
          & {
            @include padding-Y(4rem, 6rem);
          }
        }
      }
    }
    .informacionBotones {
      @include padding-X(1rem, 0);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      @media (min-width: 768px) {
        & {
          justify-content: center;
          flex-direction: row;
          gap: 1rem;
          @include padding-X(3rem, 0);
        }
      }
      @media (min-width: 992px) {
        & {
          justify-content: center;
          gap: 4rem;
        }
      }
      a {
        width: 200px;
      }
    }
  }
}
.datos {
  @include padding-X(3rem, 0);
  box-shadow: 6px 10px 10px #00000029;
}
.elemento {
  @include padding-X(0, 2rem);
  @include flexColumn;
  align-items: center;
  .elementoTitulo {
    text-align: center;
    font-size: $subtitulo;
  }
  img {
    @include sizes(3rem, auto);
  }
  .elementoTexto {
    @include padding-X(1rem, 0);
    font-size: $texto;
    color: $textoGris;
    text-align: center;
  }
}

.requisitosYdirigido {
  @include padding-X(3rem, 2rem);
  .requisitos {
    @include padding-X(1rem, 1rem);
    @include flexColumn;
    @media (min-width: 768px) {
      & {
        @include padding-X(2rem, 2rem);
      }
    }
    .titulo {
      @include padding-X(0, 1rem);
    }
    .texto {
      @include padding-Y(2rem, 2rem);
      @include flexColumn;
      align-items: center;
      @media (min-width: 768px) {
        & {
          @include padding-Y(2rem, 2rem);
        }
      }
      @media (min-width: 992px) {
        & {
          @include padding-Y(4rem, 4rem);
        }
      }
    }
  }
  .dirigido {
    @extend .requisitos;
  }
}

.docente {
  @include flexJusCen;
  font-family: $sans;
  .tarjetaDocente {
    @include sizes(20rem, 20rem);
    @include flexColumn;
    justify-content: center;
    background: $negroTextos padding-box;
    border-radius: 10%;
    @media (min-width: 768px) {
      @include sizes(25rem, 25rem);
    }
    .fotoProfe {
      align-self: center;
    }
    .docenteNombre {
      font-weight: normal;
    }
  }
}
.docenteBoton {
  @include padding-X(2rem, 2rem);
  @include flexJusCen;
  @media (min-width: 768px) {
    @include padding-X(3rem, 6rem);
  }
  a {
    width: 100px;
  }
}
