.heroNovedades {
  @include padding-X(5rem, 5rem);
  @include sizes(100%, auto);
  background-image: url("../img/novedades/heroNovedades.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  opacity: 0.3;
  .heroNovedadesTitulo {
    opacity: 1 !important;
  }
}

.botonBlog {
  background: $grisBotones;
  color: #ffff;
}
.seccionYbNovedades {
  background-color: #efefef;
  padding: 2rem;
  padding-bottom: 8rem;
  .iconoYbNovedades {
    width: 6rem;
  }
  a {
    text-decoration: none;
    padding-left: 1rem;
  }
}

.eventos {
  @include padding-X(4rem, 0);
  .eventosTitulo {
    @include padding-X(0, 4rem);
  }
  .eventosTarjeta {
    @include flexJusCen;
    @include padding-X(2rem, 0);
    .eventosTarjetaCuerpo {
      @include flexColumn;
      justify-content: space-evenly;
      height: 100%;
      .card-title {
        @include padding-Y(0, 1rem);
      }
      .card-text {
        @include padding-Y(0, 1rem);
      }
      .eventosBotonCaja {
        @include padding-Y(2rem, 0);
        display: flex;
        justify-content: end;
        .eventosBoton {
          width: 25%;
          @include hoverCeleste;
        }
      }
    }
  }
  .botonMasEventosCaja {
    @include flexJusCen;
    @include padding-X(3rem, 6rem);
    .botonMasEventos {
      font-family: $sans;
      width: 10%;
      @include hoverNegro;
    }
  }
}
.repositorio {
  @include padding-X(2rem, 0);
  .repositorioTitulo {
    @include padding-X(0, 2rem);
  }
  .repositorioTarjeta {
    @include padding-X(2rem, 0);
    @include flexJusCen;
    .repositorioTarjetaCuerpo {
      @include flexColumn;
    }
  }
  .repositorioBotonCaja {
    @include flexJusCen;
    @include padding-X(4rem, 8rem);
    .repositorioBoton {
      font-family: $sans;
      width: 15%;
      @include hoverNegro;
    }
  }
}
