.heroNovedades {
  @include padding-X(5rem, 5rem);
  background-image: url(../img/heroNovedades.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  opacity: 0.3;
  width: 100%;
  height: auto;
  .heroNovedadesTitulo {
    opacity: 1 !important;
  }
}
