.snBienvenidosContainer {
    width: 60%;
    margin: auto;
}

.SnNosotras, .SnMision {
    justify-content: space-evenly;
    padding: 2rem;
}

.bienvenida2Sn {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}