$sans: "DM Sans", sans-serif;
$sans-bold: 700;
$blanco: #fafcfc;
$negroTextos: #23272b;
$negroOscuro: #000000;
$naranjaLinks: #ffa443;
$grisBotones: #2e363e;
$celesteBotones: #028090;
$fondoYoutube: #e0e0e0;
$coloMail: #fcd0a1;
$grisNav: #2e2c2d;
$acordion: #ececec;
$botonesLetra: 1rem;
$titulo: 1.75rem;
$subtitulo: 1.5rem;
$texto: 1.25rem;
$textoTarjeta: 1.125rem;
$textoCopyright: 0.875rem;
