$sans: "DM Sans", sans-serif;
$sans-bold: 700;
$blanco: #fafcfc;
$blancoOscuro: #f8f9fa;
$negroTextos: #23272b;
$negroOscuro: #000000;
$naranjaLinks: #ffa443;
$grisBotones: #2e363e;
$negroHover: rgb(21, 23, 26);
$celesteBotones: #028090;
$celesteHover: #026c7a;
$fondoYoutube: #e0e0e0;
$colorMail: #fcd0a1;
$grisNav: #2e2c2d;
$acordion: #ececec;
$textoGris: #7a7e83;
$botonesLetra: 1rem;
$titulo: 1.75rem;
$subtitulo: 1.5rem;
$texto: 1.25rem;
$textoTarjeta: 1.125rem;
$textoCopyright: 0.875rem;
