.footer {
  padding: 1rem;
  font-family: $sans;
  background-color: $negroTextos;
  color: $blanco;
  .footerDatos {
    @include padding-X(2rem, 0rem);
    @include flexColumn;
    .footerSub {
      @include padding-X(0, 2rem);
      font-weight: normal;
      text-align: left;
      color: $blanco;
    }
    .footerConsultas {
      opacity: 0.7;
    }
  }
  a {
    text-decoration: none;
    color: $colorMail;
  }
  .redes {
    @include padding-X(2rem, 0);
    @include flexColumn;
    p {
      font-size: $textoTarjeta;
    }
    .iconos {
      display: flex;
      gap: 2rem;
      .iconoYoutube {
        height: 90%;
      }
    }
  }
  .links {
    @include padding-X(2rem, 0);
    @include flexColumn;
    p {
      margin: 0;
      font-size: $textoTarjeta;
    }
    ul {
      list-style: none;
      padding: 0;
      a {
        color: $naranjaLinks;
      }
    }
  }
  .copyright {
    opacity: 0.7;
  }
}
