* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px !important;
  font-family: "DM Sans", sans-serif;
  background-color: #fafcfc;
}

.titulo, .subtitulo {
  font-family: "DM Sans", sans-serif !important;
  font-weight: 700;
  font-size: 1.75rem;
  color: #23272b;
  text-align: center;
}

.subtitulo {
  font-size: 1.5rem;
}

.texto {
  font-size: 1.25rem;
  font-family: "DM Sans", sans-serif !important;
  color: #23272b;
}

.blanco {
  color: #fafcfc;
}

.botonCeleste {
  background-color: #028090;
  color: #fafcfc;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
}

.botonCeleste:hover {
  transition: 0.2s;
  color: #fafcfc;
  background-color: #026c7a;
  box-shadow: 6px 10px 10px #00000029;
}

.botonNegro {
  background-color: #2e363e;
  color: #fafcfc;
}

.botonNegro:hover {
  color: #fafcfc;
  transition: 0.2s;
  background-color: #15171a;
  box-shadow: 6px 10px 10px #00000029;
}

#header {
  position: sticky;
  z-index: 100;
  top: 0;
}

#header .navbar {
  background: #2e2c2d;
}

#header .navbar .dropdown-menu {
  background: #2e2c2d;
}

#header .navbar .dropdown-menu a {
  color: #fafcfc;
}

#header .navbar .dropdown-menu a:hover {
  color: #23272b;
}

#header .navbar .navbar-collapse {
  justify-content: flex-end;
}

#header .navbar .navbar-collapse .navList {
  justify-content: space-between;
  gap: 2rem;
}

#header .navbar .navbar-collapse .navList .nav-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

#header .navbar .navbar-collapse .navList .nav-item button {
  box-shadow: none;
}

#header .navbar .navbar-collapse .navList .nav-item .navLink {
  font-size: 1.125rem;
  text-decoration: none;
  color: #fafcfc;
  opacity: 0.7;
  padding: .8rem;
  white-space: nowrap;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  font-weight: 400;
}

#header .navbar .navbar-collapse .navList .nav-item .navLink:hover {
  color: #ffff;
  transition: .3s;
}

@media (max-width: 768px) {
  .navList {
    align-items: center;
  }
  .navList .navToggler {
    padding: 0;
    padding-left: 1.5rem;
  }
  .navbar-toggler:hover {
    box-shadow: none;
  }
}

.carousel-inner {
  height: auto;
}

.carousel-inner .filtroCarrusel {
  background: rgba(35, 39, 43, 0.5);
  display: block;
  position: absolute;
  top: 0;
  height: -webkit-fill-available;
  width: inherit;
}

.carousel-inner .textoCarrusel {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-inner .textoCarrusel .tituloCarrusel {
  margin-top: 5rem;
  font-size: 3.125rem;
  color: #fafcfc;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 1.4;
}

.carousel-inner .textoCarrusel .subtituloCarrusel {
  font-size: 2rem;
  color: #fafcfc;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  margin: auto;
  line-height: 1.35;
}

.carousel-inner .textoCarrusel .botonCarrusel {
  background: #ffa443;
  border-color: #ffa443;
  font-size: 1rem;
  color: #ffff;
  padding-left: 1em;
  width: 12.18rem;
  margin-top: 2.5rem;
  height: 2.3rem;
  padding-right: 1em;
  white-space: nowrap;
  font-family: "DM Sans", sans-serif;
}

.carousel-inner .textoCarrusel .botonCarrusel:hover {
  background: #fc8200;
  transition: .2s;
}

.carousel-indicators [data-bs-target] {
  width: 30px;
  height: 8px;
  border-radius: 12px;
}

.indicadorCarrusel.active {
  background-color: #ffa443 !important;
}

.homeCursos {
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.homeCursos .card {
  font-family: "DM Sans", sans-serif;
}

.homeCursos .card .card-title {
  font-size: 1.5rem;
}

.homeCursos .card .card-text {
  font-size: 1.125rem;
  opacity: .7;
}

.homeSobreNosotras {
  background-image: url("../img/index/sn_home.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .snContainer {
    padding: 2rem;
  }
  .snContainer .titulo, .snContainer .subtitulo {
    margin-bottom: 1rem;
  }
  .indicadorCarrusel {
    height: 4px !important;
    width: 15px !important;
  }
}

@media (max-width: 992px) {
  .tituloCarrusel {
    margin-top: 20% !important;
    font-size: 2rem !important;
  }
  .subtituloCarrusel {
    font-size: 1.5rem !important;
  }
}

@media (min-width: 992px) {
  .tituloCarrusel {
    margin-top: 40% !important;
  }
  .texto1 {
    width: 45%;
  }
  .texto3 {
    width: 45%;
  }
  .subtitulo1 {
    width: 80%;
  }
  .subtitulo2 {
    width: 50%;
  }
  .homeCursos {
    margin-top: 5rem;
  }
  .carousel-indicators {
    bottom: 2rem !important;
  }
  .botonCard {
    position: relative;
    left: 10rem;
  }
  .homeSobreNosotras {
    height: 60vh;
  }
  .homeSobreNosotras .homeSnTextoContainer {
    width: 45%;
  }
  .homeCursos {
    margin-bottom: 8rem;
  }
}

.informacion {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: auto;
  width: 100%;
  min-height: 30rem;
  display: flex;
  background-image: url(../img/cursos/shapeMobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .informacion {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-position-x: right;
  }
}

@media (min-width: 992px) {
  .informacion {
    background-image: url(../img/cursos/shape.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fix;
    background-position-x: center;
    background-position-y: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 1200px) {
  .informacion {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}

.informacion .informacionRow {
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 768px) {
  .informacion .informacionRow {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media (min-width: 992px) {
  .informacion .informacionRow {
    padding-right: 4rem;
    padding-left: 2rem;
  }
}

.informacion .informacionRow .informacionRowTexto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informacion .informacionRow .informacionRowTexto .informacionTitulo {
  padding-top: 0;
  padding-bottom: 1rem;
  color: #fafcfc;
}

.informacion .informacionRow .informacionRowTexto p {
  color: #fafcfc;
  text-align: center;
}

@media (min-width: 992px) {
  .informacion .informacionRow .informacionRowTexto p {
    text-align: start;
  }
}

.informacion .informacionRow .informacionBotones {
  padding-top: 1rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .informacion .informacionRow .informacionBotones {
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 0;
  }
}

@media (min-width: 992px) {
  .informacion .informacionRow .informacionBotones {
    justify-content: center;
    gap: 4rem;
  }
}

.informacion .informacionRow .informacionBotones a {
  width: 200px;
}

.datos {
  padding-top: 3rem;
  padding-bottom: 0;
  box-shadow: 6px 10px 10px #00000029;
}

.elemento {
  padding-top: 0;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elemento .elementoTitulo {
  text-align: center;
  font-size: 1.5rem;
}

.elemento img {
  height: auto;
  width: 3rem;
}

.elemento .elementoTexto {
  padding-top: 1rem;
  padding-bottom: 0;
  font-size: 1.25rem;
  color: #7a7e83;
  text-align: center;
}

.requisitosYdirigido {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.requisitos, .dirigido {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .requisitos, .dirigido {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.requisitos .titulo, .dirigido .titulo, .requisitos .subtitulo, .dirigido .subtitulo {
  padding-top: 0;
  padding-bottom: 1rem;
}

.docente {
  display: flex;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
}

.docente .tarjetaDocente {
  height: 20rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #23272b padding-box;
  border-radius: 10%;
}

@media (min-width: 768px) {
  .docente .tarjetaDocente {
    height: 25rem;
    width: 25rem;
  }
}

.docente .tarjetaDocente .fotoProfe {
  align-self: center;
}

.docente .tarjetaDocente .docenteNombre {
  font-weight: normal;
}

.docenteBoton {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .docenteBoton {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }
}

.docenteBoton a {
  width: 100px;
}

.heroNovedades {
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: auto;
  width: 100%;
  top: 20px;
  background-image: url("../img/novedades/heroNovedades.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.botonBlog {
  background: #2e363e;
  color: #ffff;
}

.seccionYbNovedades {
  background-color: #efefef;
  padding: 2rem;
  padding-bottom: 8rem;
}

.seccionYbNovedades .iconoYbNovedades {
  width: 6rem;
}

.seccionYbNovedades a {
  text-decoration: none;
  padding-left: 1rem;
}

.eventos {
  padding-top: 2rem;
  padding-bottom: 0;
  justify-content: center;
  gap: 2rem;
}

.eventos h4 {
  padding-top: 3.5rem;
  padding-bottom: 2rem;
}

.eventos .eventosTarjeta {
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (min-width: 576px) {
  .eventos .eventosTarjeta {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media (min-width: 768px) {
  .eventos .eventosTarjeta {
    padding-right: 0rem;
    padding-left: 0rem;
    flex-basis: 42%;
  }
}

@media (min-width: 992px) {
  .eventos .eventosTarjeta {
    padding: 0;
    flex-basis: 45%;
  }
}

@media (min-width: 992px) {
  .eventos .eventosTarjeta .col-lg-5 {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .eventos .eventosTarjeta .col-lg-5 img {
    height: 100%;
  }
}

@media (min-width: 992px) {
  .eventos .eventosTarjeta .col-lg-7 {
    padding: 0;
  }
}

.eventos .eventosTarjeta .col-lg-7 .eventosTarjetaCuerpo {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .eventos .eventosTarjeta .col-lg-7 .eventosTarjetaCuerpo {
    height: 100%;
    justify-content: space-between;
  }
}

.eventos .eventosTarjeta .col-lg-7 .eventosTarjetaCuerpo h5 {
  padding-top: 0;
  padding-bottom: 1rem;
}

@media (min-width: 992px) {
  .eventos .eventosTarjeta .col-lg-7 .eventosTarjetaCuerpo h5 {
    padding-top: 0;
    padding-bottom: 0;
    text-align: start;
  }
}

.eventos .eventosTarjeta .col-lg-7 .eventosTarjetaCuerpo p {
  text-align: center;
}

@media (min-width: 992px) {
  .eventos .eventosTarjeta .col-lg-7 .eventosTarjetaCuerpo p {
    text-align: start;
  }
}

.eventos .eventosTarjeta .col-lg-7 .eventosTarjetaCuerpo .eventosBoton {
  align-self: center;
}

@media (min-width: 992px) {
  .eventos .eventosTarjeta .col-lg-7 .eventosTarjetaCuerpo .eventosBoton {
    align-self: flex-end;
  }
}

.eventos .botonMasEventosCaja {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.eventos .botonMasEventosCaja .botonMasEventos {
  width: 140px;
}

.repositorio .repositorioTarjeta {
  display: flex;
  justify-content: center;
}

.repositorio .repositorioTarjeta .repositorioTarjetaCuerpo {
  display: flex;
  flex-direction: column;
}

.repositorio .repositorioBotonCaja {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.repositorio .repositorioBotonCaja .repositorioBoton {
  font-family: "DM Sans", sans-serif;
  width: 152px;
}

.snMainContainer {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.snBienvenidosContainer {
  width: 60%;
  margin: auto;
}

.SnNosotras, .SnMision {
  justify-content: space-evenly;
  padding: 2rem;
}

.bienvenida2Sn {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .snMainContainer {
    margin-top: 6.4rem;
    margin-bottom: 4.8rem;
  }
  .SnNosotras, .SnMision {
    justify-content: space-between !important;
    align-items: center;
  }
  .SnNosotras img, .SnMision img {
    width: -webkit-fill-available;
    height: fit-content !important;
  }
}

@media (max-width: 576px) {
  .SnNosotras img, .SnMision img {
    width: inherit;
  }
}

.heroContacto {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  background: transparent url(../img/contacto/hero.png) 0% 0% no-repeat padding-box;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  align-items: center;
}

.heroContacto .contactoTitulo {
  font-size: 2rem;
  padding-top: 0;
  padding-bottom: 1.5rem;
}

.heroContacto .titulo, .heroContacto .subtitulo {
  color: #fafcfc;
  margin: 0;
}

.heroContacto .contactoMail {
  padding-top: 0;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fafcfc;
  text-decoration: none;
}

.heroContacto .contactoMail .contactoImagen {
  width: 5rem;
}

.contactoRedes {
  padding-top: 4rem;
  padding-bottom: 0;
  gap: 1rem;
  justify-content: center;
}

.contactoRedes .instagram, .contactoRedes .youtube, .contactoRedes .linkedin {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  align-items: center;
  text-decoration: none;
}

.contactoRedes .instagram p, .contactoRedes .youtube p, .contactoRedes .linkedin p {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #23272b;
}

.contactoRedes .youtube {
  padding-top: 0;
}

.preguntas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 8rem;
}

.preguntas .titulo, .preguntas .subtitulo {
  padding-top: 0;
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .preguntas .accordion {
    align-self: center;
    width: 75%;
  }
}

.preguntas .accordion .accordion-button:not(.collapsed) {
  color: #ffa443;
  background-color: #ececec;
  border: none;
}

.preguntas .accordion .accordion-button:focus {
  box-shadow: none;
}

.preguntas .accordion .accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffa443'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.preguntas .fondoAcordion {
  background-color: #ececec;
  color: #ffa443;
}

.blog1 {
  padding-top: 0rem;
  padding-bottom: 6rem;
}

.blog1 .hero {
  background-image: url("../img/Blog1/blogHero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  width: 100%;
  height: 17vh;
}

@media (min-width: 576px) {
  .blog1 .hero {
    height: 20vh;
  }
}

@media (min-width: 768px) {
  .blog1 .hero {
    height: 20vh;
  }
}

@media (min-width: 1200px) {
  .blog1 .hero {
    height: 30vh;
  }
}

.blog1 .blogRedes {
  display: none;
  z-index: 0;
}

@media (min-width: 768px) {
  .blog1 .blogRedes {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 1rem;
    right: 2rem;
    top: 49vh;
    width: 2rem;
  }
  .blog1 .blogRedes a .youtube {
    height: 32px !important;
    width: 32px !important;
  }
}

@media (min-width: 768px) and (min-height: 768px) {
  .blog1 .blogRedes {
    right: 2rem;
    top: 60vh;
    width: 2rem;
  }
}

@media (min-width: 992px) {
  .blog1 .blogRedes {
    right: 5rem;
    top: 57vh;
    width: 2rem;
  }
}

@media (min-width: 992px) and (min-height: 768px) {
  .blog1 .blogRedes {
    right: 5rem;
    top: 62vh;
    width: 2rem;
  }
}

@media (min-width: 992px) and (min-height: 1200px) {
  .blog1 .blogRedes {
    right: 5rem;
    top: 42vh;
    width: 2rem;
  }
}

@media (min-width: 1200px) and (min-height: 768px) {
  .blog1 .blogRedes {
    right: 10rem;
    top: 70vh;
    width: 2rem;
  }
}

@media (min-width: 1200px) and (min-height: 992px) {
  .blog1 .blogRedes {
    right: 10rem;
    top: 75vh;
    width: 2rem;
  }
}

@media (min-width: 1200px) and (min-height: 1200px) {
  .blog1 .blogRedes {
    right: 10rem;
    top: 70vh;
    width: 2rem;
  }
}

.blog1 .progressContainer {
  position: sticky;
  z-index: 100;
  top: 80px;
  position: sticky;
  z-index: 100;
  width: 100%;
  height: 8px;
  background: #ccc;
}

.blog1 .progressBar {
  height: 8px;
  background: #ffa443;
  width: 0%;
}

.blog1 .blogTitulo {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.blog1 .blogContenido {
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .blog1 .blogContenido {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media (min-width: 992px) {
  .blog1 .blogContenido {
    padding-right: 10rem;
    padding-left: 10rem;
  }
}

@media (min-width: 1200px) {
  .blog1 .blogContenido {
    padding-right: 14rem;
    padding-left: 14rem;
  }
}

.blog1 .blogContenido p {
  letter-spacing: 0px;
}

.blog1 .blogContenido .fotoBlog {
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-self: center;
}

.blog1 .blogContenido h5 {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

@media (min-widh: 768px) {
  .blog1 .blogContenido h5 {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}

.footer {
  position: relative;
  z-index: 100;
  padding: 1rem;
  font-family: "DM Sans", sans-serif;
  background-color: #23272b;
  color: #fafcfc;
}

.footer .info {
  justify-content: center;
}

.footer .info .footerDatos {
  padding-top: 2rem;
  padding-bottom: 0rem;
  display: flex;
  flex-direction: column;
}

.footer .info .footerDatos a {
  text-decoration: none;
  color: #fcd0a1;
  text-align: center;
}

@media (min-width: 768px) {
  .footer .info .footerDatos a {
    text-align: start;
  }
}

.footer .info .footerDatos .footerLogo {
  padding-top: 0;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: normal;
  text-align: left;
  text-align: center;
  color: #fafcfc;
}

@media (min-width: 768px) {
  .footer .info .footerDatos .footerLogo {
    font-size: 1.5rem;
    text-align: start;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}

.footer .info .footerDatos .footerConsultas {
  margin: 0;
  text-align: center;
  opacity: 0.7;
}

@media (min-width: 768px) {
  .footer .info .footerDatos .footerConsultas {
    text-align: start;
  }
}

.footer .info .redes {
  padding-top: 2rem;
  padding-bottom: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

@media (min-width: 768px) {
  .footer .info .redes {
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
    align-items: flex-start;
  }
}

.footer .info .redes p {
  margin: 0;
  font-size: 1.125rem;
}

.footer .info .redes .iconos {
  display: flex;
  gap: 2rem;
}

@media (min-width: 768px) {
  .footer .info .redes .iconos {
    gap: 1rem;
  }
}

@media (min-width: 992px) {
  .footer .info .redes .iconos {
    gap: 2rem;
  }
}

.footer .info .redes .iconos .iconoYoutube {
  height: 90%;
}

.footer .info .links {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footer .info .links {
    align-items: flex-start;
  }
}

.footer .info .links p {
  margin: 0;
  font-size: 1.125rem;
}

.footer .info .links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  align-items: center;
}

@media (min-width: 768px) {
  .footer .info .links ul {
    align-items: flex-start;
  }
}

.footer .info .links ul a {
  text-align: center;
  text-decoration: none;
  color: #ffa443;
}

@media (min-width: 768px) {
  .footer .info .links ul a {
    text-align: end;
  }
}

.footer .copyright {
  opacity: 0.7;
}

.footer .copyright .terminos p, .footer .copyright .derechos p {
  text-align: center;
}

@media (min-width: 768px) {
  .footer .copyright .terminos p, .footer .copyright .derechos p {
    text-align: start;
  }
}

@media (min-width: 768px) {
  .footer .copyright .derechos p {
    text-align: end;
  }
}

@media (min-width: 992px) {
  .footer .copyright .derechos p {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */