* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px !important;
  font-family: "DM Sans", sans-serif;
}

.titulo, .subtitulo {
  font-family: "DM Sans", sans-serif !important;
  font-weight: 700;
  font-size: 1.75rem;
  color: #23272b;
  text-align: center;
}

.subtitulo {
  font-size: 1.5rem;
}

.texto {
  font-family: "DM Sans", sans-serif !important;
  font-size: 1.25rem;
  color: #23272b;
}

.blanco {
  color: #fafcfc;
}

.botonCeleste {
  background-color: #028090;
  color: #fafcfc;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
}

.botonNegro {
  background-color: #23272b;
  color: #fafcfc;
}

.navbar {
  background: #2e2c2d;
}

.navbar .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .navbar-collapse .navList {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

.navbar .navbar-collapse .navList .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.navbar .navbar-collapse .navList .nav-item .navLink {
  font-size: 1.125rem;
  text-decoration: none;
  color: #fafcfc;
  opacity: 0.7;
  white-space: nowrap;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  font-weight: 400;
}

.carousel-inner {
  height: 95vh;
}

.carousel-inner .textoCarrusel {
  height: 100%;
  width: 50%;
  margin: auto;
}

.carousel-inner .textoCarrusel .tituloCarrusel {
  margin-top: 35vh;
  font-size: 3.125rem;
  color: #fafcfc;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

.carousel-inner .textoCarrusel .subtituloCarrusel {
  font-size: 2rem;
  color: #fafcfc;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.carousel-inner .textoCarrusel .botonCarrusel {
  background: #ffa443;
  border-color: #ffa443;
  font-size: 1rem;
  color: #ffff;
  width: 25%;
  padding-left: 1em;
  padding-right: 1em;
  white-space: nowrap;
  font-family: "DM Sans", sans-serif;
}

.card {
  font-family: "DM Sans", sans-serif;
}

.card .card-title {
  font-size: 1.5rem;
}

.card .card-text {
  font-size: 1.125rem;
  opacity: .7;
}

.card .botonCard {
  position: relative;
  left: 10rem;
}

.informacion {
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: auto;
  width: 100%;
  background-image: url(../img/fondoCursos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.informacion .informacionRow {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: end;
}

.informacion .informacionTitulo {
  color: #fafcfc;
}

.informacion p {
  padding-right: 10rem;
  padding-left: 10rem;
  color: #fafcfc;
}

.informacionBotones {
  padding-top: 3rem;
  padding-bottom: 0;
}

.datos {
  padding-top: 3rem;
  padding-bottom: 0;
  -webkit-box-shadow: 6px 10px 10px #00000029;
          box-shadow: 6px 10px 10px #00000029;
}

.elemento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.elemento .elementoTitulo {
  text-align: center;
  font-size: 1.5rem;
}

.elemento img {
  height: auto;
  width: 50px;
}

.elemento .elementoTexto {
  padding-top: 1em;
  padding-bottom: 0;
  font-size: 1.25rem;
  color: #7a7e83;
  text-align: center;
}

.requisitosYdirigido {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.requisitos, .dirigido {
  padding-right: 5rem;
  padding-left: 5rem;
}

.docente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "DM Sans", sans-serif;
}

.docente .tarjetaDocente {
  height: 25rem;
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #23272b padding-box;
  border-radius: 10%;
}

.docente .tarjetaDocente .fotoProfe {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.docente .tarjetaDocente .fotoProfe img {
  height: auto;
  width: 105%;
  position: relative;
  margin-top: -20px;
}

.docente .tarjetaDocente .docenteNombre {
  font-weight: normal;
}

.docenteBoton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heroNovedades {
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: auto;
  width: 100%;
  background-image: url(../img/heroNovedades.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  opacity: 0.3;
}

.heroNovedades .heroNovedadesTitulo {
  opacity: 1 !important;
}

.eventos {
  padding-top: 2rem;
  padding-bottom: 0;
}

.eventos .eventosTarjeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
  padding-bottom: 0;
}

.eventos .eventosTarjeta .eventosTarjetaCuerpo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.eventos .eventosTarjeta .eventosTarjetaCuerpo .card-title {
  padding-right: 0;
  padding-left: 1rem;
}

.eventos .eventosTarjeta .eventosTarjetaCuerpo .card-text {
  padding-right: 0;
  padding-left: 1rem;
}

.eventos .eventosTarjeta .eventosTarjetaCuerpo .eventosBotonCaja {
  padding-right: 2rem;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.eventos .eventosTarjeta .eventosTarjetaCuerpo .eventosBotonCaja .eventosBoton {
  width: 25%;
}

.eventos .botonMasEventosCaja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.eventos .botonMasEventosCaja .botonMasEventos {
  width: 10%;
}

.repositorio {
  padding-top: 2rem;
  padding-bottom: 0;
}

.repositorio .repositorioTarjeta {
  padding-top: 2rem;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.repositorio .repositorioTarjeta .repositorioTarjetaCuerpo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.repositorio .repositorioBotonCaja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.repositorio .repositorioBotonCaja .repositorioBoton {
  font-family: "DM Sans", sans-serif;
  width: 15%;
}

.heroContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: transparent url(../img/fondoContacto.jpg) 0% 0% no-repeat padding-box;
  background-size: cover;
  opacity: 0.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroContacto .contactoTitulo {
  padding-top: 2em;
  padding-bottom: 0;
  font-size: 2rem;
}

.heroContacto .titulo, .heroContacto .subtitulo {
  color: #fafcfc;
}

.heroContacto .contactoMail {
  color: #fafcfc;
  text-align: center;
}

.heroContacto img {
  height: auto;
  width: 10%;
}

.heroContacto .contactoImagen {
  width: 5rem;
}

.cajaContactoRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cajaContactoRedes .contactoRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cajaContactoRedes .contactoRedes p {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

.cajaContactoRedes .contactoRedes .instagram, .cajaContactoRedes .contactoRedes .youtube, .cajaContactoRedes .contactoRedes .linkedin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 32% !important;
      flex-basis: 32% !important;
}

.preguntas {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preguntas .accordion .accordion-button:not(.collapsed) {
  color: #ffa443;
  background-color: #ececec;
  border: none;
}

.preguntas .accordion .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.preguntas .accordion .accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffa443'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.preguntas .fondoAcordion {
  background-color: #ececec;
  color: #ffa443;
}

.footer {
  padding: 1rem;
  font-family: "DM Sans", sans-serif;
  background-color: #23272b;
  color: #fafcfc;
}

.footer .footerDatos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footerDatos .footerSub {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: normal;
  text-align: left;
}

.footer .footerDatos .footerConsultas {
  opacity: 0.7;
}

.footer a {
  text-decoration: none;
  color: #fcd0a1;
}

.footer .redes {
  padding-top: 2rem;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .redes p {
  font-size: 1.125rem;
}

.footer .redes .iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .redes .iconos img {
  height: 30%;
  width: 30%;
}

.footer .links {
  padding-top: 2rem;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .links p {
  font-size: 1.125rem;
}

.footer .links ul {
  list-style: none;
  padding: 0;
}

.footer .links ul a {
  color: #ffa443;
}

.footer .copyright {
  opacity: 0.7;
}
/*# sourceMappingURL=main.css.map */